
button {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--primary-blue);
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease-out;
    color: var(--primary-blue);
    background: #fff;
  }
  