:root {
    --color-principal: #46a2a1;
    --color-secundario: #53bdbb;
}

html {
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.submenu {
    position: relative;
    transition: .7s ease;
}

.submenu a {
    font-size: 25px;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    margin-top: 8px;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: #ffff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    padding: 20px;
    min-height: 400px;
    opacity: 1;
    min-width: 400px;
}

.button-carrito {
    height: 38px;
    padding: 0 30px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s ease;
    background: var(--color-principal);
}

.button-carrito:hover {
    background: var(--color-secundario);
}

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

table {
    margin-bottom: 2.5rem;
}